In [1]:
import os # operating system operations like check files existance
import datetime # time and date operations
import gc # garbage collector
import pandas as pd # data frames wrangling
import numpy as np # math functions
from IPython.core.interactiveshell import InteractiveShell
import matplotlib.pyplot as plt


InteractiveShell.ast_node_interactivity = "all"  # multiple output per jupyter notebook code block
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [6]:
twt = pd.read_csv('twitter_sentiment_textcnn.csv')
twt.head()

,datatime,content,label
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,0
1,2020-01-21 10:47:38+00:00,Wuhanâs viral outbreak knocks the stock mark...,0
2,2020-01-21 10:52:56+00:00,J'ai vu le film Contagion donc pour Ã©radiquer...,1
3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",1
4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,1

only retain date, drop the time

In [8]:
def timedrop(x):
    if not isinstance(x, str):
        x = str(x)[:10]
    return str(pd.to_datetime(x))[:10]
twtadj = twt.assign(datatime=twt['datatime'].apply(timedrop))
twtadj.head()

     datatime                                            content  label
0  2020-01-21  Shares in Chinese drug makers have risen sharp...      0
1  2020-01-21  Wuhanâs viral outbreak knocks the stock mark...      0
2  2020-01-21  J'ai vu le film Contagion donc pour Ã©radiquer...      1
3  2020-01-21  #Singapore levels up in #innovation rankings, ...      1
4  2020-01-21  Paul Tudor Jones is very concerned about the #...      1

Accumulating analysis by each day

In [11]:
twtstat = (
    twtadj.groupby('datatime').apply(
        lambda g: pd.Series(
            {'num':g['content'].count(),  'Sentiment':g['label'].sum()/g['label'].count()})
    )
).reset_index()

twtstat.head()

     datatime   num  Sentiment
0  2020-01-21  28.0   0.714286
1  2020-01-22  36.0   0.583333
2  2020-01-23  66.0   0.666667
3  2020-01-24  52.0   0.634615
4  2020-01-25  74.0   0.554054

In [12]:
twtstat.to_csv('./twtstattextcnn.csv')