In [1]:
import os # operating system operations like check files existance
import datetime # time and date operations
import gc # garbage collector
import pandas as pd # data frames wrangling
import numpy as np # math functions
from IPython.core.interactiveshell import InteractiveShell
import matplotlib.pyplot as plt


InteractiveShell.ast_node_interactivity = "all"  # multiple output per jupyter notebook code block
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [2]:
twt = pd.read_csv('twitter_sentiment.csv')
twt.head()

,datetime,content,sentiment
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,0
1,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",4
2,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,4
3,2020-01-21 14:19:27+00:00,Paul Tudor Jones says this stock market run re...,4
4,2020-01-21 14:33:46+00:00,#PageOne: Stock market afflicted by a virus ht...,4

only retain date, drop the time

In [3]:
def timedrop(x):
    if not isinstance(x, str):
        x = str(x)[:10]
    return str(pd.to_datetime(x))[:10]
twtadj = twt.assign(datetime=twt['datetime'].apply(timedrop))
twtadj.head()

     datetime                                            content  sentiment
0  2020-01-21  Shares in Chinese drug makers have risen sharp...          0
1  2020-01-21  #Singapore levels up in #innovation rankings, ...          4
2  2020-01-21  Paul Tudor Jones is very concerned about the #...          4
3  2020-01-21  Paul Tudor Jones says this stock market run re...          4
4  2020-01-21  #PageOne: Stock market afflicted by a virus ht...          4

Accumulating analysis by each day

In [5]:
twtstat = (
    twtadj.groupby('datetime').apply(
        lambda g: pd.Series(
            {'num':g['content'].count(),  'Sentiment':g['sentiment'].sum()/4/g['sentiment'].count()})
    )
).reset_index()

twtstat.head()

     datetime   num  Sentiment
0  2020-01-21  20.0   0.600000
1  2020-01-22  28.0   0.392857
2  2020-01-23  55.0   0.563636
3  2020-01-24  44.0   0.477273
4  2020-01-25  51.0   0.313725

In [ ]:
twtstat.to_csv('./twtstat.csv')